#content div {
    margin-top: 30px;
}

label {
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    line-height: 30px;
}

input {
    background-color: #ccc;
    border: #ccc;
    font-size: 22px;
    font-family: 'Gilroy-Medium';
}

input[class=button] {
    transition-duration: 0.3s;
    height: 40px;
    width: 120px;
    background-color: white;
    border: 2px solid #ccc;
    margin-right: 30px;
    font-size: 15px;
    font-family: 'Gilroy-Medium';
}

input:hover {
    background-color: #ccc;
}


#galery {
    display: flex;
}

#user_img {
    text-align: center;
    margin-inline: 20px;
}

#user_img img {
    max-width: 250px;
    max-height: 125px;
}