#content div {
    margin-top: 30px;
}

label {
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    line-height: 30px;
}

input {
    background-color: #ccc;
    border: #ccc;
    font-size: 22px;
    font-family: 'Gilroy-Medium';
    margin: 10px;
}

input[type=submit] {
    transition-duration: 0.3s;
    height: 40px;
    width: 120px;
    background-color: white;
    border: 2px solid #ccc;
    margin-right: 30px;
    font-size: 15px;
    font-family: 'Gilroy-Medium';
    display: block;
}

input:hover {
    background-color: #ccc;
}

a {
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    color: #828282;
}

a:hover {
    color: #000000;
}

label {
    margin-top: 20px;
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    line-height: 30px;
    display: flex;
}

info {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    display: flex;
}

.user {
    font-family: 'Gilroy-Medium';
    font-size: 22px;
    display: flex;
    margin-left: 10px;
}