html,
body {
	display: flex;
	flex-direction: column;
	background-color: #FFF;
	color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	flex: auto;
}

h2 {
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	padding-bottom: 0px;
}

h1 {
	font-family: 'Gilroy-Bold';
	font-size: 47px;
	line-height: 59px;
}

hr {
	width: 80%;
}

header a {
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	margin-inline: 20px;
	margin-top: 30px;
	color: #828282;
	text-decoration: none;
}

header {
	display: inline-flex;
	height: 80px;
	justify-content: space-evenly;
}

.active {
	color: #070707;
}

#home {
	left: 5%;
	top: 29px;

}

.error {
	color: red;
}

#content {
	flex: auto;
	width: 80%;
	margin-left: 10%;
}


footer {
	flex: 0 0 auto;
	width: 80%;
	left: 10%;
	text-align: center;
	margin-left: 10%;
}

#logo img {
	width: 40px;
	padding: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

#logo {
	display: inline-block;
}

#chat_ref {
	font-family: 'Gilroy-Bold';
	font-size: 25px;
	color: #828282;
	line-height: 30px;
	text-decoration: none;
}

#chat_ref:hover {
	color: black;
}


@media only screen and (max-width: 900px) {
	header {
		width: 100%;
		left: 0%;
		top: 0%;
		position: fixed;
		background-color: #a9a9a9;
		z-index: 99999999;
		margin-left: 0%;
	}

	header a {
		color: #070707;
	}

	#content {
		margin-top: 78px;
	}

}

@font-face {
	font-family: "Gilroy-Bold";
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Gilroy-Medium";
	src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}