#biography {
	position: relative;
	width: 100%;
	display: inline-block;
}

#biography h1 {
	position: relative;
	margin-right: 15px;
	width: 150px;
	display: inline-block;
}

#biography h3 {
	position: relative;
	margin-left: 40%;
	bottom: 10%;
	display: inline-block;
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
}

img {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#hobbies {
	background-color: #F6F6F6;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

#hobbies a {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	color: black;
	line-height: 22px;
	margin: 20px;
	text-align: center;
	text-decoration: none;
}

#hobbies a:hover {
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	color: black;
}

#content p {
	margin-top: 50px;
}

